# APP_ENV=development
# APP_VERSION=0.6.4
# DATABASE_URL=sqlite:///./trademind.db
# SECRET_KEY=change-this-in-production
# ACCESS_TOKEN_EXPIRE_MINUTES=50
# REFRESH_TOKEN_EXPIRE_DAYS=7
# CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
# PAYSTACK_SECRET_KEY=sk_test_xxx
# PAYSTACK_PUBLIC_KEY=pk_test_xxx
# PAYSTACK_WEBHOOK_SECRET=paystack-webhook-secret
# PAYSTACK_CALLBACK_URL=http://localhost:3000/pricing?upgraded=1
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# CLOUDINARY_FOLDER=trademind
# RESEND_API_KEY=
# MAIL_FROM=TradeMind <noreply@trademind.app>




APP_ENV=production
APP_VERSION=0.6.4
DATABASE_URL=postgresql://trade_mind_user:ADDmdl464NCE2RKoZuaxAb30B7aXe4KN@dpg-d7h1af5ckfvc739nfa0g-a/trade_mind
SECRET_KEY=your_long_random_secret
ACCESS_TOKEN_EXPIRE_MINUTES=50
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=https://trade-mind-web.vercel.app/
PAYSTACK_SECRET_KEY=sk_test_xxx
PAYSTACK_PUBLIC_KEY=pk_test_xxx
PAYSTACK_WEBHOOK_SECRET=paystack-webhook-secret
PAYSTACK_CALLBACK_URL=http://localhost:3000/pricing?upgraded=1
CLOUDINARY_CLOUD_NAME= dyrbkkoqm
CLOUDINARY_API_KEY= 963384766287516
CLOUDINARY_API_SECRET= VDDcdCY6tOeaSs6ZpKuVm4JQFHM
CLOUDINARY_FOLDER=trademind
RESEND_API_KEY= re_fTEcRfGa_3nqei7rt3R2WBc9gqZvGogmH
MAIL_FROM=TradeMind <noreply@trademind.app>
